/* div{
    background-color: red;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    color: white;
} */

/* .odd{
    background-color: rgb(255, 192, 203);
    font-family: verdana, DejaVu, sans-serif;
}

#Even-two{
    color: hsl(240, 100%, 50%);
    font-size: 36px;
}

.odd.cool{
    font-size: 24px;
}

#second-id{
    background-color: rgb(138, 249, 138);
    font-size: 24px;
    font-weight: bold;
} */

/* .read{
    background-color: rgb(29, 5, 5);
    color: white;
}

.unread{
    background-color: hsl(60, 100%, 50%);
}

.read, .unread{
    font-size: 28px;
    font-family: Helvetica, Times New Roman, sans-serif;
} */
/* 
.avatar.proportioned{
    width: 300px;
    height: auto;
}

.avatar.distorted{
    width: 200px;
    height: 400px;
} */

/* .styled p{
    background-color: yellow;
    color: red;
} */

/* .style > p{
    background-color: blue;
}

.okay p{
    color: red;
}
 */

 body {
  font-family: Arial, Helvetica, sans-serif;
}

.para,
.small-para{
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}

.para.small-para {
  font-size: 14px;
  font-weight: 800;
}

.para {
  font-size: 22px;
}

.button.confirm{
  background: green;
  color: white;
  font-weight: bold;
} 

.button{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}

.text. .child {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}